<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Dimoge-Blog</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" media="screen" />
        <meta charset="utf-8">

        <!-- Link styles -->
        <!--<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">-->
        <script src="/public/js/jquery-1.8.3.min.js" type="text/javascript"></script>
        <style>
            .item{
                border-left: 8px solid #236733;
                padding-left: 15px;
                margin-left: 20px;
                padding-top: 15px;
            }
        </style>

        <script>
            function aboutMe(){
                $.ajax({
                    type:"GET",
                    url:"http://45.78.50.233:3000/about/getBlogByCategory.do"
                });
            }

        </script>

    </head>
<body>
<!--头部部分-->
    <div class="head" style="background-color: #06B184; height: 200px;width: 100%; margin: -8px -8px -8px -8px;">
        <img src="/public/images/logo.jpg" style="width: 240px; text-align: left;"/>
        <p style="text-align: left;font-weight: bold;margin-left: 20px">纯手工打造, 要什么模板, 此处感谢jason blog提供的原型.......</p>
        <div style="text-align: right ">
            <a href="/" style="color:#F3F2F2;text-decoration:none;font-weight: bold">首页</a>&nbsp&nbsp
            <a href="/content/getCategory.do" style="color:#F3F2F2;text-decoration:none;font-weight: bold">目录</a>&nbsp&nbsp
            <a href="/about/getBlogByCategory.do" style="color:#F3F2F2;text-decoration:none;font-weight: bold" >关于</a>&nbsp&nbsp
            <input type="text" placeholder="搜索" style="color:#F3F2F2;font-weight: bold"/>&nbsp
        </div>
    </div>
    <br><br>

<!--主体部分-->
    <div class="body" style="overflow: hidden">
        <div class="left-slide" style="float: left;width: 70%;height: 100%"><!-- 左侧-->
            <div class="item">
                <a href="index.ejs" style="color: #2ca6cb; text-decoration: none; font-weight: bolder;font-size: 25px">我始终坚信说的多不如做的多</a>
                <br>
                <p style="font-size: 105%; line-height: 1.8;font-size: 17px;color: #817c7c;font-family: 'Helvetica Neue', 'Helvetica', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;">
                    在我们的代码中，十几个业务线的下方都依赖一个公用的base库，base库的东西很多，包含Push、Share、Util、Web、SSO、Pay和部分共用的业务逻辑。
                    我们打算拆分Base，每个模块弄成一个代码仓库，方便模块复用，解开部分耦合。
                </p>
                <p style="color: #817c7c">2015-11-07</p>
            </div>
            <div class="item">
                <a href="index.ejs" style="color: #2ca6cb; text-decoration: none; font-weight: bolder;font-size: 25px">我始终坚信说的多不如做的多</a>
                <br>
                <p style="font-size: 105%; line-height: 1.8;font-size: 17px;color: #817c7c;font-family: 'Helvetica Neue', 'Helvetica', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;">
                    在我们的代码中，十几个业务线的下方都依赖一个公用的base库，base库的东西很多，包含Push、Share、Util、Web、SSO、Pay和部分共用的业务逻辑。
                    我们打算拆分Base，每个模块弄成一个代码仓库，方便模块复用，解开部分耦合。
                </p>
                <p style="color: #817c7c">2015-11-07</p>
            </div>
            <div class="item">
                <a href="index.ejs" style="color: #2ca6cb; text-decoration: none; font-weight: bolder;font-size: 25px">我始终坚信说的多不如做的多</a>
                <br>
                <p style="font-size: 105%; line-height: 1.8;font-size: 17px;color: #817c7c;font-family: 'Helvetica Neue', 'Helvetica', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;">
                    在我们的代码中，十几个业务线的下方都依赖一个公用的base库，base库的东西很多，包含Push、Share、Util、Web、SSO、Pay和部分共用的业务逻辑。
                    我们打算拆分Base，每个模块弄成一个代码仓库，方便模块复用，解开部分耦合。
                </p>
                <p style="color: #817c7c">2015-11-07</p>
            </div>
        </div>
        <div class="right-slide" style="float: right;background-color: #ffdddd;height: 100px;width: 30%"><!--右侧-->

        </div>


    </div>
<br>
<!--底部部分-->
<div style="width: 100%; height: 400px;background-image: url('/public/images/jake.jpg');background-size:100%;">
</div>
</body>
</html>