<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客分类分类管理</title>
    <script src="/public/js/jquery-1.8.3.min.js" type="text/javascript"></script>

    <script>
        function addCategory() {
            var categoryValue = $("#categoryValue").val();
            $.ajax({
                type: "post",
                url: "/admin/category/add.do",
                data: "name=" + categoryValue,
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    alert("success:添加成功!!!");
                    window.location.href = "/admin/category/getAll.do";
                },
                error: function () {
                    alert("error:添加失败!!!");
                }
            });
        }
    </script>
</head>
<body>

<input id="categoryValue" type="text" style="width: 200px"/><input type="button" value="添加" onclick="addCategory()"/>
<br> <hr> <br>
<% for(var i = 0 ; i < categories.length; i++ ){ %>
    <%= i %> &nbsp;&nbsp;<%= categories[i].id %>&nbsp;&nbsp;<%= categories[i].name %> <a href="/admin/category/del.do?categoryId=<%= categories[i].id %>">删除</a> <br>
<% } %>
</body>
</html>