<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客分类分类管理</title>
</head>
<body>
    <% for(var i=0 ; i<categories.length; i++ ){ %>
        <%= categories[i].name%><br>
    <%}%>
</body>
</html>