<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客分类分类管理</title>
</head>
<body>
    <% for(var i=0 ; i<categories.length; i++ ){ %>
        i &nbsp;&nbsp;<%= categories[i].id%>&nbsp;&nbsp;<%= categories[i].name%> <a href="/admin/category/del.do?categoryId=<%=categories[i].id%>">删除</a> <br>
    <%}%>
</body>
</html>