<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客分类分类管理</title>
    <script src="/public/js/jquery-1.8.3.min.js" type="text/javascript"></script>
</head>
<body>

<!--头部部分-->
<div class="head" style="background-color: #FFC0CB; height: 200px;width: 100%; margin: -8px -8px -8px -8px;">
    <img src="../public/images/logo.jpg" style="width: 240px; text-align: left;"/>

    <p style="text-align: left;font-weight: bold;margin-left: 20px">后台管理</p>

    <div style="text-align: right ">
        <a href="/" style="color:#F3F2F2;text-decoration:none;font-weight: bold">首页</a>&nbsp&nbsp
        <a href="/category/getCategory.do" style="color:#F3F2F2;text-decoration:none;font-weight: bold">目录</a>&nbsp&nbsp
        <a href="/about/getBlogByCategory.do" style="color:#F3F2F2;text-decoration:none;font-weight: bold">关于</a>&nbsp&nbsp
        <input type="text" placeholder="搜索" style="color:#F3F2F2;font-weight: bold"/>&nbsp
    </div>
</div>
<br><br><br>
<div style="border: 7px solid #236733;width:20%; height:400px;text-align: center">
    <a href="/admin/category/getAll.do">分类管理</a><br>
    <a href="/admin/blog/getAll.do">博客管理</a><br>
</div>

</body>
</html>